*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 200px;
    margin: 0 auto;
}

.menu{
    padding: 20px;
    width: fit-content;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}



.level{
    padding: 0 200px;
}